################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output directories
bin/
obj/

# Ignore the Visual Studio solution file
/ERPSystem/ERP_Genie/ERP_Genie.sln

# Ignore various other types of files and directories
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.[Pp]ublish.xml
*.sql
*.sqlproj
*.sqlproj.schemaview
*.user
Backup*/
publish*/

# Ignore others
.idea/
